table{
  width:100%;
  border:solid 1px;
  border-spacing:0px;
}
tr:first-child{
  background-color:#CCCCCC;
}
tr:nth-child(odd):not(tr:first-child){
  background-color:#FFFFFF;
}
tr:nth-child(even){
  background-color: #CAF7FF;
}
tr:hover:not(tr:first-child):not(tr:last-child){
  background-color: yellow;
}
